
.layout {
  display: grid;

  
  grid-template-columns: 340px minmax(0, 1fr) 340px;
  gap: 2.25rem;

  
  max-width: 1800px;
  margin: 0 auto;

  background-color: #f0f2f5;
  padding: 0.75rem 0.5rem;
  box-sizing: border-box;
  align-items: flex-start;
}


@media (max-width: 1200px) {
  .layout {
    grid-template-columns: 270px minmax(0, 1fr) 270px;
    max-width: 1400px;
    gap: 1.75rem;
    padding: 0.75rem;
  }
}


@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 1rem;
    gap: 1rem;
  }
}
