body {
  background-color: #f0f2f5;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f2f5; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
